### Data Cleaning means actually cleaning the datasets and making changes on the original dataframe,

### But, not changing the data on the .csv file

In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [3]:
tree_census = pd.read_csv(r"2015_Street_Tree_Census_-_Tree_Data.csv")

tree_census

,tree_id,block_id,created_at,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,steward,guards,sidewalk,user_type,problems,root_stone,root_grate,root_other,trunk_wire,trnk_light,trnk_other,brch_light,brch_shoe,brch_other,address,postcode,zip_city,community board,borocode,borough,cncldist,st_assem,st_senate,nta,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp,council district,census tract,bin,bbl
0,180683,348711,08/27/2015,3,0,OnCurb,Alive,Fair,Acer rubrum,red maple,NaN,NaN,NoDamage,TreesCount Staff,NaN,No,No,No,No,No,No,No,No,No,108-005 70 AVENUE,11375,Forest Hills,406,4,Queens,29,28,16,QN17,Forest Hills,4073900,New York,40.723092,-73.844215,1.027431e+06,202756.7687,29.0,739.0,4052307.0,4.022210e+09
1,200540,315986,09/03/2015,21,0,OnCurb,Alive,Fair,Quercus palustris,pin oak,NaN,NaN,Damage,TreesCount Staff,Stones,Yes,No,No,No,No,No,No,No,No,147-074 7 AVENUE,11357,Whitestone,407,4,Queens,19,27,11,QN49,Whitestone,4097300,New York,40.794111,-73.818679,1.034456e+06,228644.8374,19.0,973.0,4101931.0,4.044750e+09
2,204026,218365,09/05/2015,3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,1or2,NaN,Damage,Volunteer,NaN,No,No,No,No,No,No,No,No,No,390 MORGAN AVENUE,11211,Brooklyn,301,3,Brooklyn,34,50,18,BK90,East Williamsburg,3044900,New York,40.717581,-73.936608,1.001823e+06,200716.8913,34.0,449.0,3338310.0,3.028870e+09
3,204337,217969,09/05/2015,10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,NaN,NaN,Damage,Volunteer,Stones,Yes,No,No,No,No,No,No,No,No,1027 GRAND STREET,11211,Brooklyn,301,3,Brooklyn,34,53,18,BK90,East Williamsburg,3044900,New York,40.713537,-73.934456,1.002420e+06,199244.2531,34.0,449.0,3338342.0,3.029250e+09
4,189565,223043,08/30/2015,21,0,OnCurb,Alive,Good,Tilia americana,American linden,NaN,NaN,Damage,Volunteer,Stones,Yes,No,No,No,No,No,No,No,No,603 6 STREET,11215,Brooklyn,306,3,Brooklyn,39,44,21,BK37,Park Slope-Gowanus,3016500,New York,40.666778,-73.975979,9.909138e+05,182202.4260,39.0,165.0,3025654.0,3.010850e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
683783,155433,217978,08/18/2015,25,0,OnCurb,Alive,Good,Quercus palustris,pin oak,NaN,NaN,Damage,Volunteer,NaN,No,No,No,No,No,No,No,No,No,32 MARCY AVENUE,11211,Brooklyn,301,3,Brooklyn,34,53,18,BK73,North Side-South Side,3051900,New York,40.713211,-73.954944,9.967407e+05,199121.6363,34.0,519.0,3062513.0,3.023690e+09
683784,183795,348185,08/29/2015,7,0,OnCurb,Alive,Good,Cladrastis kentukea,Kentucky yellowwood,1or2,NaN,NoDamage,Volunteer,NaN,No,No,No,No,No,No,No,No,No,67-035 SELFRIDGE STREET,11375,Forest Hills,406,4,Queens,29,28,15,QN17,Forest Hills,4070700,New York,40.715194,-73.856650,1.023989e+06,199873.6475,29.0,707.0,4075448.0,4.031810e+09
683785,166161,401670,08/22/2015,12,0,OnCurb,Alive,Good,Acer rubrum,red maple,NaN,NaN,Damage,Volunteer,NaN,No,No,No,No,No,No,No,No,No,130 BIDWELL AVENUE,10314,Staten Island,501,5,Staten Island,50,63,24,SI07,Westerleigh,5020100,New York,40.620762,-74.136517,9.463514e+05,165466.0763,50.0,201.0,5011657.0,5.004080e+09
683786,184028,504204,08/29/2015,9,0,OnCurb,Alive,Good,Acer rubrum,red maple,NaN,NaN,NoDamage,TreesCount Staff,NaN,No,No,No,No,No,No,No,No,No,1985 ANTHONY AVENUE,10457,Bronx,205,2,Bronx,15,86,33,BX41,Mount Hope,2023502,New York,40.850828,-73.903115,1.011054e+06,249271.9507,15.0,23502.0,2007757.0,2.028120e+09
683787,200607,306527,09/03/2015,23,0,OnCurb,Alive,Fair,Acer rubrum,red maple,NaN,NaN,NoDamage,TreesCount Staff,NaN,No,No,No,No,No,No,No,No,No,69-069 183 STREET,11365,Fresh Meadows,408,4,Queens,24,25,11,QN41,Fresh Meadows-Utopia,4134100,New York,40.732165,-73.787526,1.043136e+06,206095.5383,24.0,1341.0,4153657.0,4.071360e+09

### To remove / filter out unnecessary columns & create new dataframe OR subset of original dataframe

In [4]:
tree_census_subset = tree_census[['tree_id', 'tree_dbh', 'stump_diam',
       'curb_loc', 'status', 'health', 'spc_latin', 'steward',
       'sidewalk', 'problems', 'root_stone', 'root_grate', 'root_other',
        'trunk_wire', 'trnk_light', 'trnk_other', 'brch_light', 'brch_shoe', 'brch_other']]


tree_census_subset
# type(tree_census_subset)

,tree_id,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,steward,sidewalk,problems,root_stone,root_grate,root_other,trunk_wire,trnk_light,trnk_other,brch_light,brch_shoe,brch_other
0,180683,3,0,OnCurb,Alive,Fair,Acer rubrum,NaN,NoDamage,NaN,No,No,No,No,No,No,No,No,No
1,200540,21,0,OnCurb,Alive,Fair,Quercus palustris,NaN,Damage,Stones,Yes,No,No,No,No,No,No,No,No
2,204026,3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,1or2,Damage,NaN,No,No,No,No,No,No,No,No,No
3,204337,10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,NaN,Damage,Stones,Yes,No,No,No,No,No,No,No,No
4,189565,21,0,OnCurb,Alive,Good,Tilia americana,NaN,Damage,Stones,Yes,No,No,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
683783,155433,25,0,OnCurb,Alive,Good,Quercus palustris,NaN,Damage,NaN,No,No,No,No,No,No,No,No,No
683784,183795,7,0,OnCurb,Alive,Good,Cladrastis kentukea,1or2,NoDamage,NaN,No,No,No,No,No,No,No,No,No
683785,166161,12,0,OnCurb,Alive,Good,Acer rubrum,NaN,Damage,NaN,No,No,No,No,No,No,No,No,No
683786,184028,9,0,OnCurb,Alive,Good,Acer rubrum,NaN,NoDamage,NaN,No,No,No,No,No,No,No,No,No
683787,200607,23,0,OnCurb,Alive,Fair,Acer rubrum,NaN,NoDamage,NaN,No,No,No,No,No,No,No,No,No

### To check if there is missing values(i.e NaN ) in the dataframe using  `isna().sum()`

In [5]:
# NOTE: isna().sum() gare pachi matra tha huncha kun column ma total kati ota NaN values cha vanera

# NOTE: isna() le None lai NaN jasto missing values vandaina


tree_census_subset.isna().sum()

tree_id            0
tree_dbh           0
stump_diam         0
curb_loc           0
status             0
health         31616
spc_latin      31619
steward       519438
sidewalk       31616
problems      457944
root_stone         0
root_grate         0
root_other         0
trunk_wire         0
trnk_light         0
trnk_other         0
brch_light         0
brch_shoe          0
brch_other         0
dtype: int64

In [6]:
# checking all unique values counts for 'steward' column
# value_counts() le NaN ko count didaina, but yo 'steward' column ma tannai NaN cha

tree_census_subset['steward'].value_counts()

steward
1or2       143557
3or4        19183
4orMore      1610
Name: count, dtype: int64

In [7]:
# checking all unique values counts for 'problems' column
# value_counts() le NaN ko count didaina, but yo 'problems' column ma tannai NaN cha

tree_census_subset['problems'].value_counts()

problems
Stones                                                                        95673
BranchLights                                                                  29452
Stones,BranchLights                                                           17808
RootOther                                                                     11418
TrunkOther                                                                    11143
                                                                              ...
Stones,RootOther,WiresRope,TrunkLights,TrunkOther,BranchLights,BranchOther        1
MetalGrates,RootOther,WiresRope,TrunkLights,BranchLights,BranchOther              1
MetalGrates,WiresRope,TrunkLights,BranchLights,BranchOther                        1
Stones,MetalGrates,TrunkLights,TrunkOther                                         1
MetalGrates,TrunkOther,Sneakers                                                   1
Name: count, Length: 231, dtype: int64

### Boolean Mask
####  Filtering rows in dataframe by creating a boolean filtering mask (i.e conditional filtering mask)

#### Masking is an advanced concept in Pandas where the analyst tries to filter data based on a particular condition.

In [8]:
# Stump  OR  Dead trees ko rows lai filter garna boolean mask banako
mask = ((tree_census_subset['status'] =='Stump') | (tree_census_subset['status'] =='Dead'))

mask

0         False
1         False
2         False
3         False
4         False
          ...
683783    False
683784    False
683785    False
683786    False
683787    False
Name: status, Length: 683788, dtype: bool

### syntax of loc[  ]:   `loc[row_indexer, column_indexer]`      OR     `loc[row_indexer]`

### using `fillna()` function to fill  `NaN` values

In [9]:
# NOTE:  .loc[mask]  is like .loc[row_indexer]

tree_census_subset.loc[mask] = tree_census_subset.loc[mask].fillna('Not Applicable')

In [10]:
# To check, if  fillna('Not Applicable')  works as required or not

# tree_census_subset[tree_census_subset['status'] =='Stump']
# tree_census_subset[tree_census_subset['status'] =='Dead']

#### again, checking  in which columns `NaN` values located in how many numbers.

In [11]:
tree_census_subset.isna().sum()

tree_id            0
tree_dbh           0
stump_diam         0
curb_loc           0
status             0
health             1
spc_latin          5
steward       487823
sidewalk           1
problems      426329
root_stone         0
root_grate         0
root_other         0
trunk_wire         0
trnk_light         0
trnk_other         0
brch_light         0
brch_shoe          0
brch_other         0
dtype: int64

In [12]:
tree_census_subset['steward'].value_counts()

steward
1or2              143557
Not Applicable     31615
3or4               19183
4orMore             1610
Name: count, dtype: int64

In [13]:
# checking all unique values counts for 'problems' column

tree_census_subset['problems'].value_counts()

problems
Stones                                                                        95673
Not Applicable                                                                31615
BranchLights                                                                  29452
Stones,BranchLights                                                           17808
RootOther                                                                     11418
                                                                              ...
Stones,RootOther,WiresRope,TrunkLights,TrunkOther,BranchLights,BranchOther        1
MetalGrates,RootOther,WiresRope,TrunkLights,BranchLights,BranchOther              1
MetalGrates,WiresRope,TrunkLights,BranchLights,BranchOther                        1
Stones,MetalGrates,TrunkLights,TrunkOther                                         1
MetalGrates,TrunkOther,Sneakers                                                   1
Name: count, Length: 232, dtype: int64

### For checking tricky NaN (i.e ajjai lukeko NaN yesari herna sakincha)

In [14]:
# checking tricky NaN values in 'problems' column

tree_census_subset[ tree_census_subset['problems'].isna() ]

,tree_id,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,steward,sidewalk,problems,root_stone,root_grate,root_other,trunk_wire,trnk_light,trnk_other,brch_light,brch_shoe,brch_other
0,180683,3,0,OnCurb,Alive,Fair,Acer rubrum,NaN,NoDamage,NaN,No,No,No,No,No,No,No,No,No
2,204026,3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,1or2,Damage,NaN,No,No,No,No,No,No,No,No,No
5,190422,11,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,1or2,NoDamage,NaN,No,No,No,No,No,No,No,No,No
6,190426,11,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,1or2,NoDamage,NaN,No,No,No,No,No,No,No,No,No
8,209610,6,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,NaN,NoDamage,NaN,No,No,No,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
683783,155433,25,0,OnCurb,Alive,Good,Quercus palustris,NaN,Damage,NaN,No,No,No,No,No,No,No,No,No
683784,183795,7,0,OnCurb,Alive,Good,Cladrastis kentukea,1or2,NoDamage,NaN,No,No,No,No,No,No,No,No,No
683785,166161,12,0,OnCurb,Alive,Good,Acer rubrum,NaN,Damage,NaN,No,No,No,No,No,No,No,No,No
683786,184028,9,0,OnCurb,Alive,Good,Acer rubrum,NaN,NoDamage,NaN,No,No,No,No,No,No,No,No,No
683787,200607,23,0,OnCurb,Alive,Fair,Acer rubrum,NaN,NoDamage,NaN,No,No,No,No,No,No,No,No,No

In [15]:
# checking tricky NaN values in 'steward' column

tree_census_subset[ tree_census_subset['steward'].isna() ]

,tree_id,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,steward,sidewalk,problems,root_stone,root_grate,root_other,trunk_wire,trnk_light,trnk_other,brch_light,brch_shoe,brch_other
0,180683,3,0,OnCurb,Alive,Fair,Acer rubrum,NaN,NoDamage,NaN,No,No,No,No,No,No,No,No,No
1,200540,21,0,OnCurb,Alive,Fair,Quercus palustris,NaN,Damage,Stones,Yes,No,No,No,No,No,No,No,No
3,204337,10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,NaN,Damage,Stones,Yes,No,No,No,No,No,No,No,No
4,189565,21,0,OnCurb,Alive,Good,Tilia americana,NaN,Damage,Stones,Yes,No,No,No,No,No,No,No,No
7,208649,9,0,OnCurb,Alive,Good,Tilia americana,NaN,NoDamage,MetalGrates,No,Yes,No,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
683781,155348,20,0,OnCurb,Alive,Good,Quercus palustris,NaN,NoDamage,Stones,Yes,No,No,No,No,No,No,No,No
683783,155433,25,0,OnCurb,Alive,Good,Quercus palustris,NaN,Damage,NaN,No,No,No,No,No,No,No,No,No
683785,166161,12,0,OnCurb,Alive,Good,Acer rubrum,NaN,Damage,NaN,No,No,No,No,No,No,No,No,No
683786,184028,9,0,OnCurb,Alive,Good,Acer rubrum,NaN,NoDamage,NaN,No,No,No,No,No,No,No,No,No
683787,200607,23,0,OnCurb,Alive,Fair,Acer rubrum,NaN,NoDamage,NaN,No,No,No,No,No,No,No,No,No

In [16]:
# checking tricky NaN values in 'health' column

tree_census_subset[ tree_census_subset['health'].isna() ]

,tree_id,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,steward,sidewalk,problems,root_stone,root_grate,root_other,trunk_wire,trnk_light,trnk_other,brch_light,brch_shoe,brch_other
32889,245041,16,0,OnCurb,Alive,NaN,Fraxinus pennsylvanica,NaN,Damage,NaN,No,No,No,No,No,No,No,No,No

In [17]:
# checking tricky NaN values in 'spc_latin' column

tree_census_subset[ tree_census_subset['spc_latin'].isna() ]

,tree_id,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,steward,sidewalk,problems,root_stone,root_grate,root_other,trunk_wire,trnk_light,trnk_other,brch_light,brch_shoe,brch_other
356613,562532,4,0,OnCurb,Alive,Good,NaN,1or2,NoDamage,Stones,Yes,No,No,No,No,No,No,No,No
427541,630814,11,0,OnCurb,Alive,Poor,NaN,NaN,Damage,NaN,No,No,No,No,No,No,No,No,No
431417,651014,40,0,OnCurb,Alive,Good,NaN,NaN,Damage,Stones,Yes,No,No,No,No,No,No,No,No
608632,47941,5,0,OnCurb,Alive,Good,NaN,1or2,NoDamage,NaN,No,No,No,No,No,No,No,No,No
656960,150745,3,0,OnCurb,Alive,Good,NaN,1or2,Damage,NaN,No,No,No,No,No,No,No,No,No

In [18]:
# checking tricky NaN values in 'sidewalk' column

tree_census_subset[ tree_census_subset['sidewalk'].isna() ]

,tree_id,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,steward,sidewalk,problems,root_stone,root_grate,root_other,trunk_wire,trnk_light,trnk_other,brch_light,brch_shoe,brch_other
346299,540677,7,0,OffsetFromCurb,Alive,Good,Gleditsia triacanthos var. inermis,NaN,NaN,NaN,No,No,No,No,No,No,No,No,No

### Replacing most tricky `NaN` values from dataframe,
### by, most frequent occuring values in that partiular column

In [19]:
tree_census_subset['problems'].fillna('None', inplace=True)
tree_census_subset['steward'].fillna('1or2', inplace=True)
tree_census_subset['health'].fillna('Good', inplace=True)
tree_census_subset['spc_latin'].fillna('No Observation', inplace=True)
tree_census_subset['sidewalk'].fillna('NoDamage', inplace=True)

C:\Users\Dhiraj\AppData\Local\Temp\ipykernel_9288\1716280759.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tree_census_subset['problems'].fillna('None', inplace=True)
C:\Users\Dhiraj\AppData\Local\Temp\ipykernel_9288\1716280759.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tree_census_subset['steward'].fillna('1or2', inplace=True)
C:\Users\Dhiraj\AppData\Local\Temp\ipykernel_9288\1716280759.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tree_census_subset['health'].fillna('Good', inplace=True)
C:\Users\Dhiraj\AppData\Local\Temp\ipykernel_9288\1716280759.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tree_census_subset['spc_latin'].fillna('No Observation', inplace=True)
C:\Users\Dhiraj\AppData\Local\Temp\ipykernel_9288\1716280759.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tree_census_subset['sidewalk'].fillna('NoDamage', inplace=True)

#### again, checking if `NaN` values in any columns or not

In [20]:
tree_census_subset.isna().sum()

tree_id       0
tree_dbh      0
stump_diam    0
curb_loc      0
status        0
health        0
spc_latin     0
steward       0
sidewalk      0
problems      0
root_stone    0
root_grate    0
root_other    0
trunk_wire    0
trnk_light    0
trnk_other    0
brch_light    0
brch_shoe     0
brch_other    0
dtype: int64